# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are commited to the repo, so other developers can run them
# without needing to run PyInstaller themselves.
# But you might want to ignore them anyway.
# *.exe
# *.winexe
# *.app
# *.icns
# *.dsym
# *.bundle
# spec files
# *.spec

# Plots, Reports, and Data
plots/*
reports/*
data/*

# Installer logs
pip-log.txt
pip-delete-this-line.txt

# Unit test / coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.nox/
.tox/
.venv/
venv/
env/
.env/
.idea/
pytestcache/

# Editors
.vscode/
